<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{commentDate}} ago by author {{author}} | <a href="#/deleteComment/:{{_id}}" class="deleteLink">delete</a>
    </div>
</article>