<article class="chirp">
    <div class="titlebar">
        <a href="#/discover" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{chirpDate}}</span>
    </div>
    <p>{{text}}</p>
    <a href="#/delete/:{{_id}}"></a>
</article>